.img1{
    background-image: url(assets/image-header.jpg);
    height: 700px;
    background-size: 100% 100%;

}
.img11{
    background-image: url(assets/mobile/image-header.jpg);
    height: 600px;
    background-size: 100% 100%;

}
.img2{
    background-image: url(assets/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:100%;
    height: 550px;
}
.img12{
    background-image: url(assets/mobile/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}

.img3{
    background-image: url(assets/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}
.img13{
    background-image: url(assets/mobile/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
}
.img4{
    background-image: url(assets/image-graphic-design.jpg);
    background-repeat: no-repeat;  
    background-size: 100% 100%;
    width: 100%;

}
 .img14{
    background-image: url(assets/mobile/image-graphic-design.jpg);
    background-repeat: no-repeat;  
    background-size: 100% 100%;
    width: 100%;
    height: 600px;
    margin-top: -140px;
} 

.head1{
    margin-top: 380px;
    
}
.img5{
    background-image: url(assets/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}
.img15{
    background-image: url(assets/mobile/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 550px;
}
.head2{
    margin-top: 380px;
}
.img20{
    background-image:url(assets/image-gallery-milkbottles.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
    
}
.img21{
    background-image:url(assets/image-gallery-orange.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}
.img22{
    background-image:url(assets/image-gallery-cone.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}
.img23{
    background-image: url(assets/image-gallery-sugarcubes.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}
.img24{
    background-image:url(assets/mobile/image-gallery-milkbottles.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
    
}
.img25{
    background-image:url(assets/mobile/image-gallery-orange.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}
.img26{
    background-image:url(assets/mobile/image-gallery-cone.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}
.img27{
    background-image: url(assets/mobile/image-gallery-sugar-cubes.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}
